{% extends "base.html" %}
{% block title %}Abstimmung{% endblock %}

{% block content %}
<h1 style="background-color:powderblue;">Abstimmung zum Ausdruck des Tages </h1>

<br>
<h3>Zur Abstimmung stehen: </h3>
<ul>
    {% for nominierung in nominierungsliste %}
    <li style="font-size: larger;">
        {{ nominierung.ausdruck }}
        <form action="#" method="post" style="display:inline;">
            <input type="hidden" name="ausdruck" value="{{nominierung.ausdruck}}">
            <input type="submit" value="Abstimmen">
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}