{% extends "base.html" %}
{% block title %}Nominierung{% endblock %}


{% block content %}
{%with messages = get_flashed_messages()%}
    {% if messages %}
        {% for message in messages %}
        <h1 style="background-color:powderblue;">{{message}}</h1>
        {% endfor %}
    {% endif %}
{% endwith %}


<h2> Am heutigen Tage wurde bereits nominiert: </h2>
<ul></ul>
{% for nominierung in nominierungsliste %}
    <li style="font-size: larger;">
        {{ nominierung.ausdruck }} 
        <span style="font-size: smaller;">({{ nominierung.likes }} likes)</span>
    </li>
{% endfor %}
</ul>
{% endblock %}